{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- CONTENT BOOKS SECTION 1-->
<section id="books-content-1" class="content book-content">
    <h2 class="title mt-70">Books</h2>
    <h3 class="sub-title">Share with us your favourite cookbooks!!</h3>
    <div class="text-center">
        <a href="{% url 'add_book' %}" class="btn btn-signup btn-lg mb-4">Add Book</a>
    </div>
    <div class="container">
        <div class="row">
            {% for book in books_list %}
            <div class="col-md-4">
                <div class="book-card">
                    <div class="content-img">
                        <img src="{{ book.picture.url }}" alt="{{ book.title }} Image">
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div class="content-description">
                        <h4><i class="fa-solid fa-book"></i> {{book.title}}</h4>
                        <h4><i class="fa-solid fa-pen"></i> {{book.author}}</h4>
                        <a class="card-text" href="{{ book.link }}" target="_blank"><i class="fa-solid fa-globe"></i>
                            Link</a>
                        <p><i class="far fa-comment-dots"></i><br>{{ book.review }}</p>
                    </div>
                    <div class="author-info">
                        <span><i class="fa-solid fa-at"></i>{{ book.name | slice:":10" }} | </span>
                        <span><i class="fas fa-clock"></i>{{ book.timestamp }}</span>
                    </div>
                    <hr class="hr-small">
                    {% if user.is_authenticated and user.username == book.name or user.is_superuser %}
                    <div class="text-center">
                        <a href="edit_book/{{book.id}}" class="btn-edit btn-sm btn-secondary mb-3"
                            aria-label="Go to the Edit Comments Page">Edit</a>
                        <button type="button" class="btn-delete btn-sm btn-danger mb-3" data-bs-toggle="modal"
                            data-bs-target="#delete-book">Delete</button>
                    </div>
                    <!-- Delete book bootstrap modal-->
                    <div class="modal fade" id="delete-book" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete Post</h5>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete your post?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <a href="delete_book/{{book.id}}" class="btn btn-danger"
                                        aria-label="Delete Comment">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- END OF CONTENT BOOKS SECTION -->

<!-- CONTENT BOOKS SECTION 2 (UNDER 991px)-->
<section id="books-content-2" class="content book-content">
    <h2 class="title mt-70">Books</h2>
    <h3 class="sub-title">Share with us your favourite cookbooks!!</h3>
    <div class="text-center">
        <a href="{% url 'add_book' %}" class="btn btn-signup btn-lg mb-4">Add Book</a>
    </div>
    <div class="container">
        <div class="row">
            {% for book in books_list %}
            <div class="col-md-6">
                <div class="book-card">
                    <div class="content-img">
                        <img src="{{ book.picture.url }}" alt="{{ book.title }} Image">
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div class="content-description">
                        <h4><i class="fa-solid fa-book"></i> {{book.title}}</h4>
                        <h4><i class="fa-solid fa-pen"></i> {{book.author}}</h4>
                        <a class="card-text" href="{{ book.link }}" target="_blank"><i class="fa-solid fa-globe"></i>
                            Link</a>
                        <p><i class="far fa-comment-dots"></i><br>{{ book.review }}</p>
                    </div>
                    <div class="author-info">
                        <span><i class="fa-solid fa-at"></i>{{ book.name | slice:":10" }} | </span>
                        <span><i class="fas fa-clock"></i>{{ book.timestamp }}</span>
                    </div>
                    <hr class="hr-small">
                    {% if user.is_authenticated and user.username == book.name or user.is_superuser %}
                    <div class="text-center">
                        <a href="edit_book/{{book.id}}" class="btn-edit btn-sm btn-secondary mb-3"
                            aria-label="Go to the Edit Comments Page">Edit</a>
                        <button type="button" class="btn-delete btn-sm btn-danger mb-3" data-bs-toggle="modal"
                            data-bs-target="#delete-book_2">Delete</button>
                    </div>
                    <!-- Delete book bootstrap modal-->
                    <div class="modal fade" id="delete-book_2" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete Post</h5>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete your post?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <a href="delete_book/{{book.id}}" class="btn btn-danger"
                                        aria-label="Delete Comment">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- END OF CONTENT BOOKS SECTION 2 -->

{% endblock content %}