{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- HERO SECTION -->
    <section id="hero">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item bg-setup active"
                    style="background-image:url({% static 'images/footer-bg.jpg' %}); height: 100vh;">
                    <div class="container">
                        <div class="overlay"></div>
                        <div class="carousel-caption text-start">
                            <h2>Tasty Blog</h2>
                            <p>Enjoy our recipes every day!</p>
                            <p><a class="btn btn-lg btn-primary mt-4" href="#content" aria-label="Go to the content home section">Explore</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item bg-setup"
                    style="background-image:url({% static 'images/pasta-bg.jpg' %}); height: 100vh;">
                    <div class="container">
                        <div class="overlay"></div>
                        <div class="carousel-caption text-start">
                            <h2 class="">Tasty Blog</h2>
                            <p>New Recipes and tips weekly!!</p>
                            <p><a class="btn btn-lg btn-primary mt-4" href="#content" aria-label="Go to the content home section">Explore</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item bg-setup"
                    style="background-image:url({% static 'images/cocktail-bg.jpg' %}); height: 100vh;">
                    <div class="container">
                        <div class="overlay"></div>
                        <div class="carousel-caption text-start">
                            <h2>Tasty Blog</h2>
                            <p>Best Cocktails for this summer!</p>
                            <p><a class="btn btn-lg btn-primary mt-4" href="#content" aria-label="Go to the content home section">Explore</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- END OF HERO SECTION -->

    <!-- CONTENT SECTION -->
    <section id="content" class="content">
        <h2 class="title"> Our Recepies</h2>
        <div class="container">
            <div class="row row-reverse">
                {% for post in post_list %}
                {% if forloop.counter == 1 %}
                <div class="col-md-8">
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
                        <div class="content-img">
                            <div class="overlay"></div>
                            <img src="{{ post.featured_image.url }}"
                                alt="{{ post.title }} Image">
                            <div class="content-categorie">
                                <h4><i class="fas fa-cutlery"></i> {{ post.title }}</h4>
                                {% for cat in post.categories.all %}
                                <h4><i class="fas fa-bowl-rice"></i>{{ cat }}</h4>
                                {% endfor %}
                                <h4><i class="fas fa-clock"></i> {{ post.time_to_cook }} Minutes</h4>
                                {% if post.stars == 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif post.stars == 4 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% else%}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-stroke"></i>
                                {% endif %}
                                <div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% elif forloop.counter == 2 %}
                <div class="col-md-4">
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
                        <div class="content-img">
                            <div class="overlay"></div>
                            <img src="{{ post.featured_image.url }}"
                                alt="">
                            <div class="content-categorie">
                                <h4><i class="fas fa-cutlery"></i> {{ post.title }}</h4>
                                {% for cat in post.categories.all %}
                                <h4><i class="fas fa-bowl-rice"></i>{{ cat }}</h4>
                                {% endfor %}
                                <h4><i class="fas fa-clock"></i> {{ post.time_to_cook }} Minutes</h4>
                                {% if post.stars == 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif post.stars == 4 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% else%}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-stroke"></i>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    {% elif forloop.counter == 3 %}
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
                        <div class="content-img">
                            <div class="overlay"></div>
                            <img src="{{ post.featured_image.url }}"
                                alt="">
                            <div class="content-categorie">
                                <h4><i class="fas fa-cutlery"></i> {{ post.title }}</h4>
                                {% for cat in post.categories.all %}
                                <h4><i class="fas fa-bowl-rice"></i>{{ cat }}</h4>
                                {% endfor %}
                                <h4><i class="fas fa-clock"></i> {{ post.time_to_cook }} Minutes</h4>
                                {% if post.stars == 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif post.stars == 4 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% else%}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-stroke"></i>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div> 
                {% elif forloop.counter == 4 %}
                <div class="col-md-4">
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
                        <div class="content-img">
                            <div class="overlay"></div>
                            <img src="{{ post.featured_image.url }}"
                                alt="">
                            <div class="content-categorie">
                                <h4><i class="fas fa-cutlery"></i> {{ post.title }}</h4>
                                {% for cat in post.categories.all %}
                                <h4><i class="fas fa-bowl-rice"></i>{{ cat }}</h4>
                                {% endfor %}
                                <h4><i class="fas fa-clock"></i> {{ post.time_to_cook }} Minutes</h4>
                                {% if post.stars == 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif post.stars == 4 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% else%}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-stroke"></i>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    {% elif forloop.counter == 5%}
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
                        <div class="content-img">
                            <div class="overlay"></div>
                            <img src="{{ post.featured_image.url }}"
                                alt="">
                            <div class="content-categorie">
                                <h4><i class="fas fa-cutlery"></i> {{ post.title }}</h4>
                                {% for cat in post.categories.all %}
                                <h4><i class="fas fa-bowl-rice"></i>{{ cat }}</h4>
                                {% endfor %}
                                <h4><i class="fas fa-clock"></i> {{ post.time_to_cook }} Minutes</h4>
                                {% if post.stars == 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif post.stars == 4 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% else%}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-stroke"></i>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div> 
                {% elif forloop.counter == 6%}
                <div class="col-md-8">
                    <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
                        <div class="content-img">
                            <div class="overlay"></div>
                            <img src="{{ post.featured_image.url }}"
                                alt="{{ post.title }} Image">
                            <div class="content-categorie">
                                <h4><i class="fas fa-cutlery"></i> {{ post.title }}</h4>
                                {% for cat in post.categories.all %}
                                <h4><i class="fas fa-bowl-rice"></i>{{ cat }}</h4>
                                {% endfor %}
                                <h4><i class="fas fa-clock"></i> {{ post.time_to_cook }} Minutes</h4>
                                {% if post.stars == 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif post.stars == 4 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% else%}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-stroke"></i>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
             {% endif %}
            {% endfor %}
        </div>
        </div>
    </section>
    <!-- CONTENT SECTION -->
    
{% endblock content %}

