{% load static %}

<!-- FOOTER -->
<footer id="footer" class="footer bg-setup main-bg-desktop main-bg-mobile">
    <div class="overlay overlay-footer"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="footer-text">
                    <figure>
                        <img src="{% static 'images/logos/logo-tasty-blog-small-removebg.png' %}" alt="Tasty blog logo image">
                    </figure>
                    <p class="footer-text">Food is maybe the only universal thing that
                        really has the power to bring everyone together. No matter what culture, everywhere around
                        the world, people eat together.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Contact</h4>
                <p><i class="fas fa-phone"></i>+ 82 9648 84547</p>
                <p><i class="far fa-envelope"></i>info@tastyblog.com</p>
                <p><i class="fas fa-home"></i>2A Bow Lane - Dublin 8</p>
            </div>
            <div class="col-md-3 footer-box">
                <h4>Follow Us</h4>
                <p><a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Go to the facebook Tasty Blog page"><i class="fab fa-facebook-f" ></i>Facebook</a></p>
                <p><a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Go to the facebook Tasty Blog page"><i class="fab fa-twitter"></i>Twitter</a></p>
                <p><a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Go to the facebook Tasty Blog page"><i class="fab fa-instagram"></i>Instagram</a>
                </p>
            </div>
        </div>
        <hr>
        <div class="copyright">
            <h3><i class="far fa-copyright"></i> Copyright | Tasty Blog | <span id="year"></span></h3>
        </div>
    </div>
</footer>
<!-- END OF FOOTER -->