{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITLE -->
    <title>Tasty Blog</title>

    <!-- SCRIPT TO MAKE INTERNET EXPLORE BROWSER READING HTML5  -->
    <!--[if lt IE 9]>
	<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->

    <!-- NORMALIZED CSS  -->
    <link rel="stylesheet" href="{% static 'css/normalized.css' %}">
    <!-- JQUERY UI CSS -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap_5.1.0/css/bootstrap.min.css' %}">
    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- MY CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_css.css' %}">
<body>