{% load static %}

<!DOCTYPE html>
<html lang="en">

<!-- WEBSITE HEAD -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Join our Tasty Blog. You can search for the best recipes and try them! Drop a 
     comment about it. Share your favorite cookbooks with other users">
     <meta name="keywords" content="Food, recipes, chicken, lobster, salads, desserts, fish, cocktails, cookbooks, soups, beef">
    <!-- TITLE -->
    <title>Tasty Blog</title>
    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/logos/favicon.png' %}">

    <!-- SCRIPT TO MAKE INTERNET EXPLORE BROWSER READING HTML5  -->
    <!--[if lt IE 9]>
	<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap_5.1.0/css/bootstrap.min.css' %}">
    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- MY CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_css.css' %}">
    <!-- Email Js -->
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script>  
    (function () {
        emailjs.init("cC-DOlxja-pr2ccKv");
    })();
    </script>
    <!-- Email Js -->
<body>
<!-- END OF WEBSITE HEAD -->