{% load static %}


 <!-- SEARCH BOX SECTION -->
 <div id="search-box">
    <div class="search-nav">
        <img src="{% static 'images/logos/logo-tasty-blog-small-removebg.png' %}" alt="Tasty blog logo">
        <i class="fas fa-times"></i>
    </div>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <form action="{% url 'search' %}" method="POST" class="d-flex mx-auto col-md-8">
                {% csrf_token %}
                <input class="form-control me-2" type="search" name="searched" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<!-- END OF SEARCH BOX SECTION -->

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img
                src="{% static 'images/logos/logo-tasty-blog-small-removebg.png' %}" alt="Tasty blog logo"></a>
        <button class="navbar-toggler box-shadow" style="text-align: center;" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" aria-label="Go to the home page">Home</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="/about" aria-label="Go to the about page">About</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="/blog" aria-label="Go to the blog page">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/contact" aria-label="Go to the contact page">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/categories" aria-label="Go to the categories page">Categories</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% for category in categories_list %}
                        <li><a class="dropdown-item" href="{% url 'categories_posts' category.title %}" aria-label="Go to the each category page">{{ category.title }}</a></li>
                        {% endfor%}
                    </ul>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'books' %}" aria-label="Go to the books page">Books</a>
                    </li>
                    {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <ul class="d-flex login-box">
                <!-- User authentication -->
                <li class="nav-item display-inline">
                    <li><a href="/profile"><p class="nav-link">| <i class="fa fa-user" aria-hidden="true"></i>{{ user.username | slice:":10" }}</p></a></li>
                    {% if user.profile.image %}
                    <li><img class="author-img" src="{{ user.profile.image.url }}" alt="User Image"></li>
                    {% else %}
                    <li><img class="author-img" src="{% static 'images/small-img/user_profile_placeholder.jpg' %}" alt="User Image"></li>
                    {% endif %}
                    <li>
                        <a class="nav-link test-center" href="{% url 'account_logout' %}" aria-label="Go to the logout page"> Logout <i class="fa fa-sign-out" aria-hidden="true"></i>|</a>
                    </li>
                </ul>
                {% else %}
                <ul class="d-flex logout-box">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}" aria-label="Go to the signup page">| Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}" aria-label="Go to the login page">Login |</a>
                    </li>
                </ul>
                    {% endif %}
            
            <p id="search-box-button" class="btn"><i class="fas fa-search"></i></p>
        </div>
    </div>
</nav>
<!-- END OF NAVBAR -->

<!-- ALERT SECTION -->
<div id="alert-box">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show alert-success" id="alert" role="alert">
                    {{ message | safe }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- END OF ALERT SECTION -->